.app-page-header {
  overflow: scroll;
  z-index: 20;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: lightskyblue;
  height: 44px;
}

.app-page-header > .settings-back-button {
  float: left;
  padding-top: 10px;
  margin-right: 0.5em;
  padding-left: 0.5em;
  font-size: 1.5em;
  color: aliceblue;
}
